* {
  box-sizing: border-box;
}

body {
  background-color: #0066ff12; 
  font-family: Arial, Helvetica, sans-serif;
   font-color: green;	
}

/* Style the header */
.header {
  background-color: white; /* #0066ff12; */ 
  padding: 10px;
  text-align: left;
  font-size: 35px;
  frameBorder: 0px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1px;
 }

/* Left and right column */
.column.side {
  }

/* Middle column */
.column.middle {
  width: 50%;
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

a:link, a:visited {
  background-color: #008CBA;
  color: black;
  border: 2px solid white;
  padding: 2px 5px;
  text-decoration: none;
  display: inline-block;
  width:5%;
  font-size: 16px;
  text-align:left;
}

a:hover, a:active {
  background-color: #e7e7e7;
  color: darkgreen;
  font-size: 16px;
}
.img2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
	  
}
/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
	.buttonM {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


       .storyTeller {
  background-color: #ff860079;
  color: #ff2a7fbf; // #ffeeaaff;
  border: 0px solid white;
  padding: 2px 5px;
  text-decoration: none;
  display: inline-block;
  width:100%;
  font-size: 12px;
  text-align:left;
}

